.foot{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid rgb(209, 206, 206);
}

.foot form{
  display: flex;
  margin-top: 30px;
  padding-bottom: 50px;
  justify-content: center;
  gap: 10px;
}

#email{
  width: 230px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 3px;
}

form button{
  width: 100px;
  height: 35px;
  color: grey;
  font-weight: bold;
  border-radius: 2px;
  font-size: 18px;
}