#container-all{
  width: 1400px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(165, 195, 204, 0.308);
  
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1300px;
  height: 153px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

header h1{
  font-family: 'Six Caps', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  color: red;
}

#nav{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 350px;
  align-items: center;
}


#nav a{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: rgb(109, 103, 103);
  border-right: 1px solid grey;
  padding: 3px 5px; 
}

#nav a:hover{
  color: rgb(255, 0, 0);
}

i{
  position: relative;
  left: 2px;
}



.hide{
  display: none;
}

.visible{
  display: block;
}


@media (max-width: 430px){

  #container-all{
    width: 430px;
  }

  header{
    width: 410px;
    height:153px;
    
  }

  #nav{
    width: 150px;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  #nav-1,#nav-2,#nav-3{
    display: none;
    margin-bottom:5px ;
  }


  #nav-3,#nav-4{
    margin-top: 5px;
    margin-right: 3px;
  }

  #nav span{
    margin-top: 15px;
  }

  #nav-4 a{
    border-right: none;
    
    
  }

  header h1{
    font-family: 'Six Caps', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 30px;
    
  }

  #nav #menu{
    display: block;
    
  }

  #submenu{
    position: absolute;
    background-color: rgb(236, 36, 36);
    left:200px;
}

#submenu a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size:15px ;
  
}

#submenu li{
  list-style: none;


}




#submenu ul{
  width: 190px;
  display: flex;
  justify-content: space-between;
}
}